{%extends "header_base.html"%}
{% block title %}Recorder{% endblock%}
{%block content%}
{% load static %}


{% load static %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Band Page" "band_page"  %}
{% endblock %}

<div class="container">
    {% if not events %}
    <pre class="pre_styling_bio"><p class="para_styling"><strong>No Upcoming Events</strong></p></pre>
    {% endif %}

    <img class="img-responsive" src="{% url 'band_photo' band_id %}" alt="{{event.band_name.band_name}}"/>
    {% for event in events %}
    <div class="para_styling band_list">

        <h2 class="band_name">{{ event.event_name }}</h2></a>
        <p class="band_event"><b>Event Type: </b> {{event.event_type}}</p>
        <div style="width: 2000px; height: 90px;">
        </div>
    </div>
    {% endfor %}

</div>
{% endblock%}