
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset='utf-8' />
<link href='./static/tempo/css/fullcalendar.min.css' rel='stylesheet' />
<link href='./static/tempo/css/fullcalendar.print.css' rel='stylesheet' media='print' />
<script src='./static/tempo/js/moment.min.js'></script>
<script src='./static/tempo/js/jquery.min.js'></script>
<script src='./static/tempo/js/fullcalendar.min.js'></script>
<script src='./static/tempo/js/gcal.min.js'></script>
<script src="./static/tempo/js/calendar.js" type="text/javascript"></script>


<style>

   body {
      margin: 40px 10px;
      padding: 0;
      font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
      font-size: 14px;
   }

   #loading {
      display: none;
      position: absolute;
      top: 10px;
      right: 10px;
   }

   #calendar {
      max-width: 500px;
      margin: 0 auto;
   }

</style>
</head>
<body>

   <div id='loading'>loading...</div>

   <div id='calendar'></div>

</body>
</html>
ET=rushgrumblr
