{%extends "login_register_base.html"%}

{% block title %}Home{% endblock%}
{%block content%}
<div>
    <h2 class="logo-message text-center">TEMPO</h2>
    <h3 class="pitch text-center">Sync your music</h3>
</div>

<div class="col-md-offset-2 col-md-8 panel main-login main-center">
    <!-- django's authentication module-->
    <form enctype="multipart/form-data" class="form-horizontal" method="post"
          action="{% url 'edit_profile' username=request.user.username %}">
        {%if form.errors%}
        <p class="error_msg">Please re-enter your credentials. If you don't remember password try the forgot password
            option.</p>
        {%endif%}

        <!--create registration form using forms-->
        <table>
            {{form.as_table}}
        </table>

        <!-- end of form -->
        <br>

            <input type="submit" class="btn btn-default btn-lg btn-block" value="Edit">


        <!-- for each input have used glyhpicon to represnt what the input will be - using fa-input fa-->
        {%csrf_token%}
    </form>
</div>
{% endblock%}