{%extends "header_base.html"%}
{% block title %}Recorder{% endblock%}
{%block content%}
{% load static %}


    <h1 class=""> Your Bands!</h1>
    {% if not bands %}
    <pre class="pre_styling_bio"><p class="para_styling"><strong>No Bands Exist</strong></p></pre>
    {% endif %}
    {% for event_list in events%}
        {% for event in event_list %}
        <div class="band_list list-group-item">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <img class="img-responsive" src="{% url 'band_photo' event.band_name.id %}" alt="{{event.band_name.id}}"/>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9">
                    <h2 class="band_name">{{ event.event_name }}</h2>
                    <p class="band_event"><b>Upcoming Event: </b> Music concert in Amsterdam</p>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endfor %}
{% endblock%}