<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <!-- Bootstrap CSS -->

    <link href="{% static 'tempo/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Customized CSS -->
    <link href="{% static 'tempo/css/bootstrap-tempo.css' %}" rel="stylesheet">
    <link href="{% static 'tempo/css/sidebar-tempo.css' %}" rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'tempo/images/favicon.ico' %}">
    <!-- Bootstrap Javascript -->
    <script src="{% static 'tempo/js/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'tempo/js/bootstrap.min.js' %}"></script>
    <title>Tempo</title>
</head>
<body>



<div class="container">
    <!-- Header -->
    <div class="row">
        <div class="col-lg-16 col-md-12" role="main">
            <!--http://getbootstrap.com/docs/3.3/components/#navbar-->
            <nav class="navbar navbar-default ">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <!--<ul class="navbar-toggle collapsed" style="background-color: transparent;">-->
                        <!--<li class="dropdown">-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"-->
                        <!--aria-haspopup="true" aria-expanded="false">-->
                        <!--Menu-->
                        <!--</a>-->
                        <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="{% url 'user_home' username=request.user.username %}">My Profile</a></li>-->
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li><a href="#">Find Users</a></li>-->
                        <!--<li><a href="/logout">Logout</a></li>-->
                        <!--</ul>-->
                        <!--</li>-->
                        <!--</ul>-->
                        <a class="navbar-brand" href="{% url 'user_home' username=user %}">TEMPO</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">
                                    Menu
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'user_home' username=user %}">My Profile</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{% url 'edit_profile' username=request.user.username %}">Edit</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{% url 'create' %}">Create Band</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{% url 'band_list' %}">Search Band</a> </li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="/logout">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->

                </div><!-- /.container-fluid -->
            </nav>
        </div> <!-- /.col-md-12 -->
    </div>
    <!-- End of Header -->
    <!--breadcrumbs-->
        {% load django_bootstrap_breadcrumbs %}
        {% block breadcrumbs %}
            {% clear_breadcrumbs %}
            {% breadcrumb "Home" "user_home" user.username %}
        {% endblock %}
        {% block breadcrumbs_content %}
            {% render_breadcrumbs %}
        {% endblock %}
    <!--end of breadcrumbs-->
    <!-- Main Row -->
    <!-- Source: https://bootsnipp.com/snippets/featured/user-profile-sidebar-->
    <div class="row profile profile-content">
        <!-- Sidebar -->
        <div class="col-md-3">
            <div class="profile-sidebar">
                <div class="profile-userpic">
                    {% if user.artist.image %}
                    <img src="{% static user.artist.image %}" class="img-responsive" alt="{{user.username}}">
                    {% else %}
                     <img src="{% static 'tempo/image/brouser_Logo.png' %}" class="img-responsive" alt="{{user.username}}">
                    {% endif %}
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        @{{request.user.username}}<br>
                        Bio: {{profile.bio}}
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <!--https://bootsnipp.com/snippets/featured/side-menu-on-hover-->
                        <li class="dropdown">
                            <a href="{% url 'user_home' username=user %}" class="dropdown-toggle"
                               data-toggle="dropdown">
                                <i class="glyphicon glyphicon-home"></i> {{band.band_name}} <span class="caret"></span></a>
                            <ul class="dropdown-menu forAnimate" role="menu">
                                {% if user_bands %}
                                {% for user_band in user_bands %}
                                     <li><a href="{% url 'change_band_home' band_id=user_band.band.id %}">{{user_band.band.band_name}}</a></li>
                                {%endfor%}
                                {%endif%}
                                <li class="divider"></li>
                                <li><a href="{% url 'band_list' %}">Join Other Bands</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'calendar' %}">
                                <i class="glyphicon glyphicon-calendar"></i>
                                Calendar</a>
                        </li>
                        <li>
                            <a href="{% url 'events' %}">
                                <i class="glyphicon glyphicon-globe"></i>
                                Live Session</a>
                        </li>
                        <li>
                            <a href="{% url 'song_list' %}">
                                <i class="glyphicon glyphicon-folder-open"></i>
                                Album </a>
                        </li>
                        <li>
                            <a href="{% url 'song' %}">
                                <i class="glyphicon glyphicon-music"></i>
                                Song</a>
                        </li>
                        <li>
                            <a href="{% url 'team_members' %}">
                                <i class="glyphicon glyphicon-user"></i>
                                Band Member</a>
                        </li>
                    </ul>
                </div>
                <!-- End of Sidebar Menu -->
            </div>
        </div>
        <!-- End of Sidebar -->
        <!-- Main Content -->
        <div class="col-md-9">
            <div class="position3">
                <div>{% block content %}{% endblock %}</div>
            </div>
        </div>
        <!-- End of  Main Content -->
    </div>
    <!-- End of Main Row -->
</div>



</body>
</html>