{%extends "header_base.html"%}
{% block title %}Calendar{% endblock%}
{%block content%}
{% load static %}


<link href="{% static 'tempo/css/fullcalendar.min.css' %}" rel="stylesheet">
<link href="{% static 'tempo/css/fullcalendar.print.css' %}" rel="stylesheet" media="print">
<script src="{% static 'tempo/js/moment.min.js' %}"></script>
<script src="{% static 'tempo/js/jquery.min.js' %}"></script>
<script src="{% static 'tempo/js/fullcalendar.min.js' %}"></script>
<script src="{% static 'tempo/js/gcal.min.js' %}"></script>
<!--<link href="{% static 'tempo/js/calendar.js' %}" rel="stylesheet">-->
<script src="{% static 'tempo/js/calendar.js' %}"></script>


{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Calender" "tempo.views_calendar.calendar" user.username %}
{% endblock %}

	<div class="band_id" id="{{band_session}}"></div>
	<div id='calendar'></div>
{%endblock%}