
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 0 0;
}

canvas {
    display: inline-block;
    background: #202020;
    width: 95%;
    height: 150px;

}

#controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 20%;
    width: 100%;
}

#no-padding{
    border: 0px !important;
    padding:0 !important;
    margin:0 !important;;
    border-collapse: collapse;
}

#record {
    height: 15vh;
}

#record.recording {
    color: red;
}

#save, #save img {
    height: 10vh;
}

#save {
    opacity: 1;
}

#save[download] {
    opacity: 1;
}

#play {
    height: 10vh;
}
#viz {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media (orientation: landscape) {
    body {
        flex-direction: row;
    }

    #controls {
        flex-direction: column;
        height: 100%;
        width: 10%;
    }

    #viz {
        height: 100%;
        width: 90%;
    }
}

.glyphicon.glyphicon-record {
    font-size: 75px;
    padding-right: 10px;
}
.glyphicon.glyphicon-stop {
    font-size: 75px;

}


.glyphicon.glyphicon-save {
    font-size: 75px;
     padding-right: 10px;
}
.glyphicon.glyphicon-play {
    font-size: 75px;

}
