<<<<<<< HEAD


=======
>>>>>>> 77041f2fcbfde1c742d39a25f68c7ada4414cde2
body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
}

#loading {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

#calendar {
    max-width: 500px;
    margin: 0 auto;
<<<<<<< HEAD
}
=======
}
>>>>>>> 77041f2fcbfde1c742d39a25f68c7ada4414cde2
